@import "../placeview_var.less";

@default_font_size : 16px;
@dark_back : rgba(51,51,51,0.8);
@dark_color : rgb(51,51,51);
@light_back : rgba(224,224,224,0.3);
@pano_preview_width : 200px;
@icons_size : 25px;
@icons_am : 7;
@default_multimenu_width : 45px;
@multimenu_control_width : 20px;
@panel_padding : 20px;
@module_width : 600px;
@module_height : 450px;
@button_color: #597EAA;

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: @default_font_size;
}

.bg_fb_color {
	background: @facebook-color;
}
.bg_vk_color {
	background: @vk-color;
}
.bg_g_color {
	background: @g-plus-color;
}
.bg_tw_color {
	background: @twitter-color;
}
.bg_pin_color {
	background: @pinterest-color;
}

.select {
	cursor: pointer;
	.txt {
		float: left;
	}
	.down {
		float: right;
	}
}

#player {
	width: 100%;
	min-width: 600px;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 99;
}
#pano {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
}
#top_menu {
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: @padding-xs-horizontal;
	padding-bottom: @padding-xs-horizontal;
	text-align: center;
	background: @dark_back;
	color: @light_grey;
	.tour_name {
		text-align: center;
		span{
			border-bottom: 1px solid @light_grey;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.pano_name {
		font-size: 0.8em;
	}
}
#pano_list {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	#show_hide_panos {
		cursor: pointer;
	}
	.control {
		color: @light_grey;
		&.active {
			.hide {
				padding: (@default_font_size + 2*@padding-xs-horizontal)/2+1;
				display: block;
			}
			.show {
				display: none;
			}
			.slides {
				overflow-y: auto;
				width: @pano_preview_width+15;
			}
		}
		.hide {
			display: none;
		}
		.slides {
			position: absolute;
			display: block;
			width: 0;
			overflow-y: auto;
			overflow: hidden;
			-webkit-transition: all .25s ease-out 0s;
			-moz-transition: all .25s ease-out 0s;
			-o-transition: all .25s ease-out 0s;
			transition: all .25s ease-out 0s;
		.slide {
				position: relative;
				width: @pano_preview_width;
				.name {
					position: absolute;
					bottom: 5px;
					z-index: 99;
					background: @dark_back;
					width: 100%;
					font-size: 0.8em;
					text-align: center;
				}
				.pano {
					width: @pano_preview_width;
					overflow: hidden;
					img{
						width: @pano_preview_width;
					}
				}
			}
		}
		.show {
			display: block;
			padding: (@default_font_size + 2*@padding-xs-horizontal)/2+1;
		}
	}
}
#logo {
	display: block;
	position: absolute;
	top: 1+4*@padding-xs-horizontal + 1.8*@default_font_size + 10;
	right: @default_multimenu_width+10;
	img {
		opacity: 0.5;
		width: @default_multimenu_width;
		height: @default_multimenu_width;
	}
	&:hover{
		img{
			opacity: 1;
		}
	}
}
#multimenu {
	z-index: 99;
	-webkit-transition: width .25s;
    -moz-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
	position: absolute;
	text-align: center;
	top: 1+4*@padding-xs-horizontal + 1.8*@default_font_size;
	right: 0px;
	color: @light_grey;
	background: @dark_back;
	.panel {
		display: none;
		position: relative;
		height: 100%;
		text-align: left;
		.control {
			text-align: center;
			cursor: pointer;
			position: absolute;
			top: 50%;
			margin-top: -(4*@padding-xs-horizontal + 2*@icons_size);
			margin-left: -(@multimenu_control_width + 4*@padding-xs-horizontal);
			width: @multimenu_control_width;
			padding: 2*@padding-xs-horizontal;
			font-size: @icons_size;
			background: @dark_back;
			.active {
				color: black;
			}
		}
		a {
			color: @light_grey;
			&:visited {
				color: @light_grey;
			}
		}
		.contact-date {
			padding: 2*@padding-xs-horizontal;
			i {
				padding: @padding-xs-horizontal;
			}
		}
		.social {
			width: 100%;
			overflow: hidden;
			a {
				font-size: @icons_size;
				float: left;
				text-align: center;
			}
			&.links-4 {
				overflow: hidden;
				width: 5*@default_multimenu_width;
				a {
					width: 5*@default_multimenu_width/4;
					height: 5*@default_multimenu_width/4;
					line-height: 5*@default_multimenu_width/4;
				}
			}
			&.links-3 {
				overflow: hidden;
				width: 5*@default_multimenu_width;
				a {
					width: 5*@default_multimenu_width/3;
					height: 5*@default_multimenu_width/4;
					line-height: 5*@default_multimenu_width/4;
				}
			}
			&.links-2 {
				a {
					width: 5*@default_multimenu_width/2;
					height: 5*@default_multimenu_width/4;
					line-height: 5*@default_multimenu_width/4;
				}
			}
			&.links-1 {
				a {
					width: 5*@default_multimenu_width;
					height: 5*@default_multimenu_width/4;
					line-height: 5*@default_multimenu_width/4;
				}
			}
		}
		.back_button {
			cursor: pointer;
			position: absolute;
			display: block;
			width: 100%;
			padding: 2*@padding-xs-horizontal;
			background: @light_back;
			overflow: hidden;
			text-align: center;
			bottom: 0;
		}
	}
	#default {
		display: none;
	}
	#more_info {
		display: none;
		width: 5*@default_multimenu_width;
		.description {
			padding: 2*@padding-xs-horizontal;
			font-size: @default_font_size*0.8;
			text-align: left;
		}
		.menu {
			padding: 2*@padding-xs-horizontal;
			text-align: left;
			a {
				display: block;
				width: 100%;
				text-decoration: none;
				padding: @padding-xs-horizontal;
				color: @light_grey;
				&:visited {
					color: @light_grey;
				}
				i {
					font-size: @icons_size;
					padding: @padding-xs-horizontal;
				}
			}
			.lang {
				a {
					display: inline;
					&.active{
						color: @accent-base;
					}
				}
			}
		}
	}
	&.default {
		width: @default_multimenu_width;
		#default {
			display: block;
		}
	}
	&.contact {
		width: 5*@default_multimenu_width;
		#contact{
			display: block;
		}
	}
	&.more_info {
		width: 5*@default_multimenu_width;
		#more_info {
			display: block;
		}
	}
	&.share {
		width: 5*@default_multimenu_width;
		#share {
			display: block;
		}
	}
	&.warning {
		width: 5*@default_multimenu_width;
		#warning {
			display: block;
		}
	}
	&.qr-code {
		width: 5*@default_multimenu_width;
		#qr-code {
			display: block;
		}
	}
	&.meeting {
		width: 5*@default_multimenu_width;
		#meeting {
			display: block;
		}
	}
	&.show_on_map {
		width: 5*@default_multimenu_width;
		#show_on_map {
			display: block;
		}
	}
	#share {
		.share_friends {
			font-size: @default_font_size*0.8;
			&>div {
				padding: @padding-xs-horizontal;
			}
			.social {
				padding: 3*@padding-xs-horizontal;
				overflow: hidden;
				a {
					font-size: @icons_size;
					width: @icons_size + 10;
					height: @icons_size + 10;
					float: left;

				}
			}
			.html-code {
				padding: 0;
				font-size: @default_font_size;
				line-height: @icons_size + @padding-xs-horizontal*2;
				.square {
					margin-right: @padding-xs-horizontal;
					text-align: center;
					float: left;
					background: @light_grey;
					font-size: @icons_size;
					width: @icons_size + @padding-xs-horizontal*2;
					height: @icons_size + @padding-xs-horizontal*2;
					line-height: @icons_size + @padding-xs-horizontal*2;
					color: @dark_back;
				}
				.code {
					overflow: hidden;
					padding: 2*@padding-xs-horizontal;
					background: @light_back;
					font-weight: 600;
					font-size: @default_font_size*0.7;
					line-height: @default_font_size;
				}
			}
			.check_size {
				padding: 0;
				&>div {
					padding: 2*@padding-xs-horizontal;
				}
				.select {
					background: @light_back;
					&.active {
						.options {
							height: 100%;
						}
					}
					.title{
						font-size: 1.5*@default_font_size;
						overflow: hidden;
					}
					.options {
						height: 0;
						overflow: hidden;
					}
				}
			}
		}
	}
	#warning {
		.descr {
			padding: @padding-xs-horizontal;
		}
		.choose {
			padding: @padding-xs-horizontal;
			a {
				display: block;
				text-decoration: none;
			}
		}
		textarea {
			display: block;
			text-align: left;
			overflow: hidden;
			width: 5*@default_multimenu_width - @padding-xs-horizontal*4;
			max-width: 5*@default_multimenu_width - @padding-xs-horizontal*4;
			padding: @padding-xs-horizontal*2;
			height: 20%;
		}
		button {
			cursor: pointer;
			margin-top: @padding-xs-horizontal;
			display: block;
			background: none;
			width: 5*@default_multimenu_width;
			border: none;
			background: @light_back;
			color: @accent-base;
			line-height: 40px;
			font-size: @default_font_size;
		}

	}
	#qr-code {
		img {
			width: 100%;
			background: white;
		}
		.choose {
			text-align: center;
			overflow: hidden;
			background: @light_back;
			line-height: 2*@default_font_size;
			margin-top: -@padding-xs-horizontal;
			.var {
				text-decoration: none;
				float: left;
				width: 50%;
				&.active {
					color: @accent-base;
				}
			}
		}
	}
	#meeting {
		textarea, input {
			margin-bottom: 2*@padding-xs-horizontal;
			background: @light_grey;
			border: none;
			display: block;
			text-align: left;
			overflow: hidden;
			width: 5*@default_multimenu_width - @padding-xs-horizontal*4;
			max-width: 5*@default_multimenu_width - @padding-xs-horizontal*4;
			padding: @padding-xs-horizontal*2;
			&::-webkit-input-placeholder {
				color: @dark_back;
			}
			&::-moz-placeholder	{
				color: @dark_back; /* Firefox 19+ */
			}
			&:-moz-placeholder {
				color: @dark_back; /* Firefox 18- */
			}
			&:-ms-input-placeholder {
				color: @dark_back;
			}
		}
		.send_mesage {
			.txt {
				font-size: @default_font_size/1.2;
				padding: @padding-xs-horizontal;
			}
			.meeting-link {
				background: #085394;
				text-align: center;
				font-size: @default_font_size/1.2;
				line-height: @default_font_size*2;
				a{
					text-decoration: none;
				}
			}
		}
	}
	#show_on_map {
		.map_container {
			width: 5*@default_multimenu_width;
			height: 300px;
			overflow: hidden;
		}
		.addres {
			padding: 2*@padding-xs-horizontal;
			font-size: @default_font_size/1.2;
			a.coordinates {
				color: @accent-base;
				text-decoration: none;
				font-size: @default_font_size/1.4;
			}
		}
	}
	.icons_minimals {
		width: 100%;
		position: absolute;
		top: 50%;
		margin-top: -(@icons_am * @icons_size + @default_font_size);
		font-size: @icons_size;
		i {
			cursor: pointer;
		}
		.icon {
			cursor: pointer;
		}
		.lang{
			font-size: @default_font_size;
			cursor: pointer;
			.cur {
				color: @accent-base;
			}
			.list {
				display: none;
			}
			&.active {
				.list {
					display: block;
				}
			}
		}
	}
	.info {
		position: absolute;
		bottom: 10px;
		font-size: @icons_size;
		width: 100%;
		cursor: pointer;
	}
}
.modules {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	font-size: @icons_size;
	a{
		cursor: pointer;
		color: @light_grey;
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		&.active {
			border: 2px solid @accent-base;
			border-radius: 50%;
		}
	}
}
#module_container {
	display: none;
	&.active {
		display: block;
	}
	z-index: 99;
	position: absolute;
	top:50%;
	left: 50%;
	overflow: hidden;
	width: @module_width;
	height: @module_height;
	margin-left: -@module_width/2;
	margin-top: -@module_height/2;
	color: @light_grey;
	.control {
		.elem {
			float: right;
			cursor: pointer;
		}
	}
	.module {
		padding: @panel_padding;
		background: @dark_back;
		overflow: hidden;
	}
	&.subcribe_module {
		#subcribe_module {
			display: block;
		}
	}
	#subcribe_module {
		display: none;
		.arend_pokupka {
			float: left;
			width: 50%;
			text-align: center;
			font-size: @default_font_size*1.2;
			padding-top: @panel_padding;
			padding-bottom: @panel_padding;
		}
		.interested_in {
			padding: @padding-xs-horizontal;
		}
		.subscribe {
			line-height: @default_font_size*2;
			font-size: @default_font_size/1.2;
			text-align: center;
			button{
				cursor: pointer;
				font-size: @default_font_size*1.2;
				border: none;
				background: @button_color;
				color: white;
				padding: @padding-xs-horizontal*2;
			}
		}
		ul{
			font-size: @default_font_size/1.3;
			padding-left: 20px;
		}
		.elem {
			float: left;
			width: 50%;
			td {
				input, textarea {
					width: 100%;
				}
			}
			h4 {
				margin: 0;
			}
		}
	}
}
#close_all {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: none;
	text-align: center;
	color: @light_grey;
	overflow: hidden;
	&.active {
		display: block;
	}
	span {
		background: @dark_back;
		padding: @padding-xs-horizontal;
		cursor: pointer;
	}
}
.marker {
	display: block;
	position: absolute;
	z-index: 98;
	font-size: @icons_size;
	cursor: pointer;
	color: @light_grey;
	background: @dark_back;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	&.hide {
		display: none;
	}
	&.near_center {
		z-index: 99;
		border-radius: 0;
		width: auto;
		height: auto;
		padding: @padding-xs-horizontal;
		.preview {
			max-width: 100px;
			display: block;
			line-height: @default_font_size;
			font-size: @default_font_size/1.2;
		}
		.fa {
			display: none;
		}
	}
	.preview {
		display: none;
	}
}
.infoblocks {
	display: none;
}
.info_container {
	&.active {
		display: block;
	}
	display: none;
	width: 300px;
	position: absolute;
	z-index: 99;
	color: @light_grey;
	.control {
		float: right;
		overflow: hidden;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		background-color: @dark_back;
		.elem {
			cursor: pointer;
		}
	}
	.cont {
		display: none;
		&.active {
			display: block;
		}
		padding: @padding-xs-horizontal;
		background: @dark_back;
		height: 300px;
		overflow: auto;
		.header {
			padding: @padding-xs-horizontal;
			font-size: @default_font_size;
		}
		.txt {
			font-size: @default_font_size/1.3;
		}
	}
}