@import "../placeview_var.less";

@default_font_size : 16px;
@dark_back : rgba(51,51,51,0.8);
@dark_color : rgb(51,51,51);
@light_back : rgba(224,224,224,0.3);
@pano_preview_width : 200px;
@icons_size : 25px;
@icons_am : 7;
@default_multimenu_width : 45px;
@multimenu_control_width : 20px;
@panel_padding : 20px;
@module_width : 600px;
@module_height : 450px;
@button_color: #597EAA;
@multimenu_panel_width: 200px;
@menu_spacer_height: 150px;
@photo_preview_height: 150px;

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: @default_font_size;
}

.bg_fb_color {
	background: @facebook-color;
}
.bg_vk_color {
	background: @vk-color;
}
.bg_g_color {
	background: @g-plus-color;
}
.bg_tw_color {
	background: @twitter-color;
}
.bg_pin_color {
	background: @pinterest-color;
}

.select {
	cursor: pointer;
	.txt {
		float: left;
	}
	.down {
		float: right;
	}
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}
#loader {
	&.active {
		display: block;
	}
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 77px;
	height: 76px;
	margin-left: -77/2px;
	margin-top: -76/2px;
	overflow: hidden;
	border-radius: 50%;
	padding: 10px;
	z-index: 999;
	background: @dark_back;
	.img {
		height: 76px;
		width: 76px;
		background: url("/img/loader.png");
		border-radius: 50%;
		-moz-animation: spin .5s infinite linear;
    	-webkit-animation: spin .5s infinite linear;
	}
}
#player {
	width: 100%;
	min-width: 600px;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 99;
}
#pano {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
}
#top_menu {
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: @padding-xs-horizontal;
	padding-bottom: @padding-xs-horizontal;
	text-align: center;
	background: @dark_back;
	color: @light_grey;
	.tour_name {
		text-align: center;
		span{
			border-bottom: 1px solid @light_grey;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.pano_name {
		font-size: 0.8em;
	}
}
#pano_list {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	#show_hide_panos {
		cursor: pointer;
	}
	.control {
		color: @light_grey;
		&.active {
			.hide {
				padding: (@default_font_size + 2*@padding-xs-horizontal)/2+1;
				display: block;
			}
			.show {
				display: none;
			}
			.slides {
				overflow-y: auto;
				width: @pano_preview_width+15;
			}
		}
		.hide {
			display: none;
		}
		.slides {
			background: @dark_back;
			position: absolute;
			display: block;
			width: 0;
			overflow-y: auto;
			overflow: hidden;
			-webkit-transition: all .25s ease-out 0s;
			-moz-transition: all .25s ease-out 0s;
			-o-transition: all .25s ease-out 0s;
			transition: all .25s ease-out 0s;
		.slide {
				position: relative;
				width: @pano_preview_width;
				.name {
					position: absolute;
					bottom: 5px;
					z-index: 99;
					background: @dark_back;
					width: 100%;
					font-size: 0.8em;
					text-align: center;
				}
				a.name {
					color: @light_grey;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
				.pano {
					width: @pano_preview_width;
					overflow: hidden;
					img{
						width: @pano_preview_width;
					}
				}
			}
		}
		.show {
			display: block;
			padding: (@default_font_size + 2*@padding-xs-horizontal)/2+1;
		}
	}
}
#logo {
	display: block;
	position: absolute;
	top: 1+4*@padding-xs-horizontal + 1.8*@default_font_size + 10;
	right: @default_multimenu_width+@padding-xs-horizontal*2 + 10;
	img {
		opacity: 0.5;
		width: @default_multimenu_width;
		height: @default_multimenu_width;
	}
	&:hover{
		img{
			opacity: 1;
		}
	}
}
#multimenu {
	z-index: 99;
	-webkit-transition: width .25s;
    -moz-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
	position: absolute;
	text-align: center;
	top: 1+4*@padding-xs-horizontal + 1.8*@default_font_size;
	right: 0px;
	color: @light_grey;
	background: @dark_back;
	&>.menu {
		position: relative;
		height: 100%;
		border: 2px solid grey;
		width: @default_multimenu_width;
		overflow: hidden;
		.spacer {
			height: @menu_spacer_height;
			width: @default_multimenu_width;
		}
		.icon {
			line-height: @default_font_size*2;
			width: @default_multimenu_width;
			font-size: @icons_size/1.2;
			cursor: pointer;
			.fa {
				display: inline;
			}
			.close {
				display: none;
			}
			&.active {
				background: @light_grey;
				color: @dark_color;
				.fa {
					display: none;
				}
				.close {
					display: inline;
				}
			}
		}
		.ask {
			position: absolute;
			bottom: -2px;
		}
		.lang {
			cursor: pointer;
			.cur {
				color: @accent-base;
			}
			.list {
				display: none;
			}
			&.active {
				.list {
					display: block;
				}
			}
		}
	}

	.panels {
		&.active {
			right: @default_multimenu_width + 4;
		}
		-webkit-transition: right .25s ease-out 0s;
		-moz-transition: right .25s ease-out 0s;
		-o-transition: right .25s ease-out 0s;
		transition: right .25s ease-out 0s;
		position: absolute;
		right: -@multimenu_panel_width;
		top: 0;
		width: @multimenu_panel_width;
		height: 100%;
		background: @dark_back;
		&>.photo_preview {
			position: relative;
			overflow: hidden;
			width: @multimenu_panel_width + @default_multimenu_width + 4;
			margin-top: -50px;
			.im_cont {
				width: @multimenu_panel_width + @default_multimenu_width + 4;
				height: @photo_preview_height;
				overflow: hidden;
				img {
					float: left;
					max-width: @multimenu_panel_width + @default_multimenu_width + 4;
				}
			}
			a.name {
				background: @dark_back;
				position: absolute;
				display: block;
				color: @light_grey;
				bottom: 0;
				width: 100%;
				text-align: center;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}

		}
	}

	.panel {
		&.active {
			display: block;
		}
		margin-top: @menu_spacer_height - 50;
		display: none;
		position: absolute;
		top: 0;
		height: 100%;
		width: @multimenu_panel_width;
		text-align: left;
		&.active {
			display: block;
		}
		.control {
			text-align: center;
			cursor: pointer;
			position: absolute;
			top: 50%;
			margin-top: -(4*@padding-xs-horizontal + 2*@icons_size);
			margin-left: -(@multimenu_control_width + 4*@padding-xs-horizontal);
			width: @multimenu_control_width;
			padding: 2*@padding-xs-horizontal;
			font-size: @icons_size;
			background: @dark_back;
			.active {
				color: black;
			}
		}
		a {
			color: @light_grey;
			&:visited {
				color: @light_grey;
			}
		}
		.contact-date {
			padding: 2*@padding-xs-horizontal;
			i {
				padding: @padding-xs-horizontal;
			}
		}
		.social {
			width: 100%;
			text-align: center;
			.container {
				display: inline-block;
				a {
					float: left;
					font-size: @icons_size;
					text-align: center;
				}
				&.links-4 {
					overflow: hidden;
					width: @multimenu_panel_width;
					a {
						width: @multimenu_panel_width/4;
						height: @multimenu_panel_width/4;
						line-height:@multimenu_panel_width/4;
					}
				}
				&.links-3 {
					overflow: hidden;
					width: @multimenu_panel_width;
					a {
						width: @multimenu_panel_width/3;
						height: @multimenu_panel_width/4;
						line-height: @multimenu_panel_width/4;
					}
				}
				&.links-2 {
					a {
						width: @multimenu_panel_width/2;
						height: @multimenu_panel_width/4;
						line-height: @multimenu_panel_width/4;
					}
				}
				&.links-1 {
					a {
						width: @multimenu_panel_width;
						height: @multimenu_panel_width/4;
						line-height: @multimenu_panel_width/4;
					}
				}
			}
		}
		.back_button {
			cursor: pointer;
			position: absolute;
			display: block;
			width: @multimenu_panel_width + @default_multimenu_width + 4;
			line-height: @default_font_size*2;
			background: @light_grey;
			color: @dark_color;
			overflow: hidden;
			text-align: center;
			bottom: @menu_spacer_height;
			&>div {
				float: left;
			}
			.wider {
				width: @multimenu_panel_width;
			}
			.smal {
				width: 49px;
			}
		}
	}
	#default {
		display: none;
	}
	#more_info {
		margin-top: @menu_spacer_height;
		.description {
			padding: 2*@padding-xs-horizontal;
			font-size: @default_font_size*0.8;
			text-align: left;
		}
		.menu {
			padding-left: 2*@padding-xs-horizontal;
			text-align: left;
			a {
				display: block;
				width: 100%;
				text-decoration: none;
				line-height: @default_font_size*2;
				color: @light_grey;
				&:visited {
					color: @light_grey;
				}
				i {
					font-size: @icons_size;
					padding: @padding-xs-horizontal;
				}
			}
		}
	}
	&.default {
		width: @default_multimenu_width;
		#default {
			display: block;
		}
	}
	&.contact {
		#contact{
			display: block;
		}
	}
	&.more_info {
		#more_info {
			display: block;
		}
	}
	&.share {
		#share {
			display: block;
		}
	}
	&.warning {
		#warning {
			display: block;
		}
	}
	&.qr-code {
		#qr-code {
			display: block;
		}
	}
	&.meeting {
		#meeting {
			display: block;
		}
	}
	&.inform {
		#inform {
			display: block;
		}
	}
	&.show_on_map {
		#show_on_map {
			display: block;
		}
	}
	#share {
		.share_friends {
			font-size: @default_font_size*0.8;
			&>div {
				padding: @padding-xs-horizontal;
			}
			.social {
				padding-left: 0;
				padding-right: 0;
				overflow: hidden;
				a {
					display: inline-block;
					font-size: @icons_size;
					width: @icons_size + 10;
					height: @icons_size + 10;
				}
			}
			.html-code {
				padding: 0;
				font-size: @default_font_size;
				line-height: @icons_size + @padding-xs-horizontal*2;
				.square {
					margin-right: @padding-xs-horizontal;
					text-align: center;
					float: left;
					background: @light_grey;
					font-size: @icons_size;
					width: @icons_size + @padding-xs-horizontal*2;
					height: @icons_size + @padding-xs-horizontal*2;
					line-height: @icons_size + @padding-xs-horizontal*2;
					color: @dark_back;
				}
				.code {
					overflow: hidden;
					padding: 2*@padding-xs-horizontal;
					background: @light_back;
					font-weight: 600;
					font-size: @default_font_size*0.7;
					line-height: @default_font_size;
				}
			}
			.check_size {
				padding: 0;
				&>div {
					padding: 2*@padding-xs-horizontal;
				}
				.select {
					background: @light_back;
					&.active {
						.options {
							height: 100%;
						}
					}
					.title{
						font-size: 1.5*@default_font_size;
						overflow: hidden;
					}
					.options {
						height: 0;
						overflow: hidden;
					}
				}
			}
		}
	}
	#warning {
		.descr {
			padding: @padding-xs-horizontal;
		}
		.choose {
			padding: @padding-xs-horizontal;
			a {
				display: block;
				text-decoration: none;
			}
		}
		textarea {
			display: block;
			text-align: left;
			overflow: hidden;
			width: @multimenu_panel_width - @padding-xs-horizontal*4;
			max-width: @multimenu_panel_width - @padding-xs-horizontal*4;
			padding: @padding-xs-horizontal*2;
			height: 20%;
		}
		button {
			cursor: pointer;
			margin-top: @padding-xs-horizontal;
			display: block;
			background: none;
			width: @multimenu_panel_width;
			border: none;
			background: @light_back;
			color: @accent-base;
			line-height: 40px;
			font-size: @default_font_size;
		}

	}
	#qr-code {
		img {
			width: 100%;
			background: white;
		}
		.choose {
			text-align: center;
			overflow: hidden;
			background: @light_back;
			line-height: 2*@default_font_size;
			margin-top: -@padding-xs-horizontal;
			.var {
				text-decoration: none;
				float: left;
				width: 50%;
				&.active {
					color: @accent-base;
				}
			}
		}
	}
	#meeting {
		textarea, input {
			margin-bottom: 2*@padding-xs-horizontal;
			background: @light_grey;
			border: none;
			display: block;
			text-align: left;
			overflow: hidden;
			width: @multimenu_panel_width - @padding-xs-horizontal*4;
			max-width: @multimenu_panel_width - @padding-xs-horizontal*4;
			padding: @padding-xs-horizontal*2;
			&::-webkit-input-placeholder {
				color: @dark_back;
			}
			&::-moz-placeholder	{
				color: @dark_back; /* Firefox 19+ */
			}
			&:-moz-placeholder {
				color: @dark_back; /* Firefox 18- */
			}
			&:-ms-input-placeholder {
				color: @dark_back;
			}
		}
		.send_mesage {
			.txt {
				font-size: @default_font_size/1.2;
				padding: @padding-xs-horizontal;
			}
			.meeting-link {
				background: #085394;
				text-align: center;
				font-size: @default_font_size/1.2;
				a{
					text-decoration: none;
				}
			}
		}
	}
	#inform {
		.container {
			direction: rtl;
			max-height: 100%;
			overflow: auto;
			text-align: left;
			.spacer {
				overflow: hidden;
				width: 100%;
				height: @photo_preview_height - 50; //50 высота топ меню
			}
		}
		.photo_cont {
			position: relative;
			text-align: center;
			img {
				max-width: 100%;
				max-height: 25%;
			}
			.name {
				position: absolute;
				width: 100%;
				background: @dark_back;
				bottom: 5px;
			}
		}
		.txt {
			font-size: @default_font_size/1.2;
			padding: @padding-xs-horizontal;
		}
	}
	#show_on_map {
		.map_container {
			width: @multimenu_panel_width;
			overflow: hidden;
		}
		.addres {
			padding: 2*@padding-xs-horizontal;
			font-size: @default_font_size/1.2;
			a.coordinates {
				color: @accent-base;
				text-decoration: none;
				font-size: @default_font_size/1.4;
			}
		}
	}
	.icons_minimals {
		width: 100%;
		position: absolute;
		top: 50%;
		margin-top: -(@icons_am * @icons_size + @default_font_size);
		font-size: @icons_size;
		i {
			cursor: pointer;
		}
		.icon {
			cursor: pointer;
		}
		.lang{
			font-size: @default_font_size;
			cursor: pointer;
			.cur {
				color: @accent-base;
			}
			.list {
				display: none;
			}
			&.active {
				.list {
					display: block;
				}
			}
		}
	}
	.info {
		position: absolute;
		bottom: 10px;
		font-size: @icons_size;
		width: 100%;
		cursor: pointer;
	}
}
.modules {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
	font-size: @icons_size;
	a{
		cursor: pointer;
		color: @light_grey;
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		&.active {
			border: 2px solid @accent-base;
			border-radius: 50%;
		}
	}
}
#module_container {
	display: none;
	&.active {
		display: block;
	}
	z-index: 99;
	position: absolute;
	top:50%;
	left: 50%;
	overflow: hidden;
	width: @module_width;
	height: @module_height;
	margin-left: -@module_width/2;
	margin-top: -@module_height/2;
	color: @light_grey;
	.control {
		.elem {
			float: right;
			cursor: pointer;
		}
	}
	.module {
		padding: @panel_padding;
		background: @dark_back;
		overflow: hidden;
	}
	&.subcribe_module {
		#subcribe_module {
			display: block;
		}
	}
	#subcribe_module {
		display: none;
		.arend_pokupka {
			float: left;
			width: 50%;
			text-align: center;
			font-size: @default_font_size*1.2;
			padding-top: @panel_padding;
			padding-bottom: @panel_padding;
		}
		.interested_in {
			padding: @padding-xs-horizontal;
		}
		.subscribe {
			line-height: @default_font_size*2;
			font-size: @default_font_size/1.2;
			text-align: center;
			button{
				cursor: pointer;
				font-size: @default_font_size*1.2;
				border: none;
				background: @button_color;
				color: white;
				padding: @padding-xs-horizontal*2;
			}
		}
		ul{
			font-size: @default_font_size/1.3;
			padding-left: 20px;
		}
		.elem {
			float: left;
			width: 50%;
			td {
				input, textarea {
					width: 100%;
				}
			}
			h4 {
				margin: 0;
			}
		}
	}
}
#close_all {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: none;
	text-align: center;
	color: @light_grey;
	overflow: hidden;
	&.active {
		display: block;
	}
	span {
		background: @dark_back;
		padding: @padding-xs-horizontal;
		cursor: pointer;
	}
}
.marker {
	display: block;
	position: absolute;
	z-index: 98;
	font-size: @icons_size;
	cursor: pointer;
	color: @light_grey;
	background: @dark_back;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	&.hide {
		display: none;
	}
	&.near_center {
		z-index: 99;
		border-radius: 0;
		width: auto;
		height: auto;
		padding: @padding-xs-horizontal;
		.preview {
			max-width: 100px;
			display: block;
			line-height: @default_font_size;
			font-size: @default_font_size/1.2;
		}
		.fa {
			display: none;
		}
	}
	.preview {
		display: none;
	}
}
.infoblocks {
	display: none;
}
.block_container {
	&.active {
		display: block;
	}
	display: none;
	position: absolute;
	z-index: 99;
	.control {
		.elem {
			cursor: pointer;
		}
	}
	.cont {
		display: none;
		&.active {
			display: block;
		}
	}
}
.info_container {
	width: 300px;
	color: @light_grey;
	.control {
		float: right;
		overflow: hidden;
		width: 20px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		background-color: @dark_back;
	}
	.cont {
		&.active {
			display: block;
		}
		padding: @padding-xs-horizontal;
		background: @dark_back;
		height: 300px;
		overflow: auto;
		.header {
			padding: @padding-xs-horizontal;
			font-size: @default_font_size;
		}
		.txt {
			font-size: @default_font_size/1.3;
		}
	}
}
.photo_container {
	background: @dark_back;
	width: 100%;
	height: 100%;
	z-index: 999;
	overflow: auto;
	.control {
		.elem {
			position: fixed;
			color: @light_grey;
			font-size: @default_font_size*2;
			&.back {
				left: 20px;
				top: 20px;
			}
			&.close {
				right: 40px;
				top: 20px;
			}
			float: right;
		}
	}
	.cont {
		color: @light_grey;
		max-height: 100%;
		overflow: auto;
		margin: 0 auto;
		.album_info {
			text-align: center;
			line-height: @default_font_size*2;
			.name {
			}
			.amount {
				font-size:  @default_font_size/1.2;
			}
		}
		.photos {
			max-height: 100%;
			.photo {
				&.active {
					display: block;
				}
				display: none;
				text-align: center;
				img {
					max-width: 100%;
				}
				.descr {
					color: @light_grey;
					text-align: left;
					.txt {
						padding: @padding-xs-horizontal;
					}
				}
				&.horizontal {
					.im_cont {
						height: 300px;
						float: left;
						width: 50%;
						overflow: auto;
						img {
							width: 100%;
						}
					}
					.descr {
						float: left;
						width: 50%;
					}
				}
			}
		}
	}
}
#tutorial {
	&.active {
		display: block;
	}
	display: none;
	position: absolute;
	background: @dark_back;
	left: 50%;
	top: 50%;
	width: 500px;
	margin-left: -250px;
	margin-top: -200px;
	z-index: 999;
	color: @light_grey;
	padding: @padding-xs-horizontal*4;
	text-align: center;
	i {
		font-size: @default_font_size*3;
		padding: @padding-xs-horizontal;
	}
	.control {
		.elem {
			float: right;
			cursor: pointer;
		}
	}
	.header {
		text-align: center;
		i {
			color: @accent-base;
		}
	}
	.device {
		width: 350px;
		margin: 0 auto;
		text-align: left;
		padding: @padding-xs-horizontal*2;
		.controler {
			color: @accent-base;
			padding-left: @default_font_size*3 + @padding-xs-horizontal*2;
		}
	}
}