@import "../placeview_var.less";

body {
	margin: 0;
	padding: 0; 
	font-family: 'Open Sans', sans-serif;
}

@dark_back : rgba(51,51,51,0.5);

#player {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 99;
}
#pano {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
}
#top_menu {
	position: absolute;
	top: 0;
	width: 100%;
	padding: @padding-xs-horizontal;
	text-align: center;
	background: @dark_back;
	color: @light_grey;
	.tour_name {
		text-align: center;
		span{
			border-bottom: 1px solid @light_grey;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.pano_name {
		font-size: 0.8em;
	}
}
#pano_list {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	.control {
		cursor: pointer;
		color: @light_grey;
		&.active {
			.hide {
				padding: 12px;
				display: block;
			}
			.show {
				padding: 12px;
				display: none;
			}
			.slides {
				position: absolute;
				display: block;
				height: 100%;
				overflow: none;
				overflow-y: auto;
				.slide {
					.name {
						margin-top: -20px;
					}
					.pano {
						width: 100px;
						overflow: hidden;
						img{
							width: 100px;
						}
					}
				}
			}
		}
		.hide {
			display: none;
		}
		.slides {
			display: none;
		}
	}
}
