@import "placeview_var.less";
@import "placeview_mixins.less";

body {
	margin-bottom: 0;
}
#menu-spacer{
	height: @fixed_menu_height;
}
.small_padding{
	padding: @padding-xs-horizontal;
}
.spacer {
	height: @fixed_menu_height;
	width: 100%;
	overflow: hidden;
}
.navbar-default {
	background: rgb(51,51,51);
}
.navbar-brand img {
	width: 130px;
	margin-top: -6px;
}
#map-canvas {
	overflow: hidden;
}
#map-canvas img {
	height: 100%;
}
.find-form {
	overflow: hidden;
}
.find-form i {
	color: black;
}
form.find-form {
	.invert;
	background: white;
}
form.find-form button {
	margin-left: -18px;
}
form.find-form input {
	border: none;
}
form.find-form button, form.find-form button:hover, form.find-form button:focus {
	border: none;
	background: none;
}
.menu_container {
	position: fixed;
	left: @indent_widget_screen;
	top: @indent_widget_screen_h;
}
.hover_menu {
	width: 362px;
}
.hover_menu button {
	.invert;
	border: 1px solid transparent;
	float:left;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	position: relative;
	padding: @padding-small-horizontal @padding-large-vertical;
}
.hover_menu .icon-bar {
	margin-top: 4px;
	background-color: #e0e0e0;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.hover_menu .menu_body {
	.invert;
	width: 100%;
	overflow: hidden;
	border-radius: @border-radius-base;
	-webkit-box-shadow: @carousel-text-shadow;
	box-shadow: @carousel-text-shadow;
	display: none;

}
.hover_menu .menu_body table {
	color: @light_grey;
}
.hover_menu .menu_body table tr{
	border-bottom: 1px solid @light_grey;
}
.hover_menu .menu_body table tr:last-child{
	border-bottom: none;
}
.hover_menu .menu_body table td {
	padding: 4px;
}
.hover_menu .menu_body table td.pictogramm {
	background-color: @accent-base;
	font-size: @pictogramm_size;
	text-align: center;
	width: 45px;
	cursor: pointer;
}
.hover_menu .menu_body table td.group_name {
	width: 88px;
	padding: 8px;
}
//new valid code
.map_container {
	position: fixed;
	height: 100%;
	width: 100%;
}
.me_container {
	position: fixed;
	right: @indent_widget_screen;
	top:@indent_widget_screen_h;
}
.me {
	.invert;
	font-size: @pictogramm_size;
	width: @me_base_size + @me_border_width;
	height: @me_base_size + @me_border_width;
	line-height: @me_border_width + @me_base_size;
	border-radius: @indent_widget_screen;
	text-align: center;
	cursor: pointer;
}
.me.active{
	border: @me_border_width solid @me_border_color;
	color:  @me_border_color;
	line-height: @me_base_size;
}
.socials_container {
	.box_style ;
	overflow:hidden;
	position: fixed;
	bottom: 40px;
	left: @indent_widget_screen;
	a{
		color:@light_grey;
	}
	.social{
		opacity: 0.5;
	}
	.social:hover{
		opacity: 1;
	}
	.social {
		float: left;
		color: @light_grey;
		font-size: @social_size;

		width: @social_link_size;
		height: @social_link_size;
		line-height: @social_link_size;

		text-align: center;
		a {
			color: @light_grey;
		}
		a:hover {
			color: @light_grey;
		}
	}
}
.advert_container {
	.invert;
	position:fixed;
	padding: @padding-xs-horizontal;
	bottom: 5px;
	left: @indent_widget_screen;
}
.g-plus {
		background: @g-plus-color;
	}
	.facebook {
		background: @facebook-color;
	}
	.pinterest {
		background: @pinterest-color;
	}
	.twitter {
		background: @twitter-color;
	}
	.youtube {
		background: @youtube-color;
	}
	.vine {
		background: @vine-color;
	}
	.vk {
		background: @vk-color;
	}
	.share {
		background: @share-color
	}
.socials_container {
	line-height: @social_link_size;
}
.filters {
	.invert;
	margin-left: 2px;
	float: left;
	border-radius: @border-radius-small;
	height: 40px;
	line-height: 40px;
	a {
		float: left;
  		padding-left: @padding-xs-horizontal;
  		padding-right: @padding-xs-horizontal;
  		text-align: center;
  		text-decoration: none;
	}
	a.active {
		background: rgba(255,255,255,0.2);
	}
}
.feed_container {
	margin: @indent_widget_screen_h - 20;
	width: @feed_container_minwidth;
	margin: 0 auto;
	.items_container {
		padding: 10px;
		float:left;
		width: floor(100%/@strips_amount);
		.item {
			position:relative;
			a.preview {
				display: block;
			}
			.preview {
				display: block;
				height: @preview_height;
				overflow: hidden;
				img {
					width: 100%;
				}
			}
		}
	}
	.spacer {
		width: 100%;
		height: 70px;
		overflow: hidden;
	}
}
.feed_container>div {
	float: left;
}
.item {
	.box_style;
	float: left;
	overflow: hidden;
	padding-bottom: 5px;
	margin: 10px;
	margin-bottom: 20px;
	width: 100%;
	.social {
		.elem {
			color: @accent-base;
			line-height: @social_link_size;
		}
	}
}
.small_avatar {
	width: @small_avatar_size !important;
	height: @small_avatar_size !important;
	border-radius: @small_avatar_size/2;
	img {
		width: @small_avatar_size !important;
		height: @small_avatar_size !important;
	}
}

.avatar {
	.box_shadow;
	overflow: hidden;
	width: @photographer_avatar_size;
	height: @photographer_avatar_size;
	border-radius: @photographer_avatar_size/2;
	border: 2px solid @light_grey;
}
.partner {
	position: absolute;
	top: @preview_height;
	left: @indent_widget_screen/2;
	background: url("../img/partner.png");
	background-repeat: no-repeat;
	padding-top:36px;
	width: 72px;
}
.pano_feed {
	.pano_item {
		.info {
			padding: @padding-xs-horizontal;
		}
		.description {
			float: left;
			width: 85%;
			p{
				padding: @padding-xs-horizontal;
			}
			h4{
				padding: @padding-xs-horizontal;
				text-align: center;
				a {
					color: @default_color;
					&:hover {
						color: @accent-base;
					}
				}
			}
		}
		.social {
			float: left;
			width: 15%;
			a{
				display: block;
				padding-top: @padding-xs-horizontal;
				padding-bottom: @padding-xs-horizontal;
				padding-right: 0;
			}
		}
		.author{
			padding: @padding-xs-horizontal;
			.avatar {
				.small_avatar;
				float: left;
			}
			.name {
				float: left;
				margin-left: @padding-xs-horizontal;
			}
			.tags {
				float: right;
				width: 50%;
				a {
					color: @hash_tag_color;
					&:before{
						content: "#";
					}
				}
			}
		}
	}
}
.photographer_container{
	.avatar {
		margin: 0 auto;
		margin-top: -@photographer_avatar_size*2/3;
	}
	.partner {
		margin-top: -20px;
	}
	.info{
		padding: @padding-xs-horizontal;
		padding-left: 3*@padding-xs-horizontal;
		padding-right: 3*@padding-xs-horizontal;
		text-align: left;
		.name_location {
			text-align: center;
		}
	}
	.social {
		.elem {
			display: block;
			float: left;
			width: 25%;
			text-align: center;
		}
	}
}
.personal_data {
	position:relative;
	min-width: 720px;
	.wallpaper {
		position: absolute;
		top:0;
		z-index: 1;
		height: @wallpaper_size;
		overflow:hidden;
	}
	.cover_container {
		overflow: hidden;
		height: @wallpaper_size;
	}
	.cover {
		z-index: 2;
		position: absolute;
		top: 0;
		width: 100%;
		padding: @padding-large-horizontal;
		.avatar {
			height: 100%;
			float: left;
			.partner {
				position: absolute;
				top: @photographer_avatar_size*0.8;
			}
		}
		.name_status {
			float:left;
			padding-left: @padding-large-horizontal;
			color: @light_grey;
			width:70%;
		}
	}
	.toolkit {
		background: @portgolio_toolkit_color;
		height: @social_link_size;
		.soc_cont_cabinet{
			float: left;
			width: @social_link_size*8;
			height: @social_link_size;
			.social {
				float: left;
				color: @light_grey;
				font-size: @social_size;

				width: @social_link_size;
				height: @social_link_size;
				line-height: @social_link_size;

				text-align: center;
				a {
					color: @light_grey;
				}
				a:hover {
					color: @light_grey;
				}
			}
		}
		a.conect {
			float: right;
			height: 30px;
			line-height: 30px;
			padding-left: @padding-xs-horizontal;
			padding-right: @padding-xs-horizontal;
			color: @light_grey;
		}
		a.subscribe {
			background: #332F95;
		}
		a.write {
			background: #158621;
		}
	}
	.toombler {
		color: @light_grey;
		text-align: center;
		margin-top: -@social_link_size;
		line-height: @social_link_size;
		.active {
			display: block;
		}
		.profile {
			background: @accent-base;
			cursor: pointer;
		}
		.pers_data {
			background: #5a1ce3;
			cursor: pointer;
		}
	}
	.toombler > div {
		display: none;
		a{
			color: @light_grey;
		}
	}
	.pers_data_block > div {
		float: left;
	}
	.pers_data_block {
		display: none;
		margin: 0 auto;
		max-width: 1024px;
		.info {
			width: 80%;
			td {
				padding: @padding-xs-horizontal;
			}
		}
		.social_info {
			width: 20%;
			.elem {
				padding: @padding-large-horizontal;
			}
		}
	}
	.portfolio {
		display:none;
	}
	.active {
		display: block;
	}
}
.leaflet-popup-content {
	width: @map_marker;
	margin: 0;
	overflow: hidden;
	.invert;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	border-radius: 0;
	border: 0;
	.tour_cont {
		width: 100%;
		height: 100px;
		overflow: hidden;
		text-align: center;
		img {
			width: 100%;
			max-width: 100% !important;
		}
	}
	.info {
		text-align: center;
		.place {
			font-size: 12px;
		}
	}
	.social {
		padding: @padding-xs-horizontal;
		float: left;
		overflow: hidden;
		width: 50%;
		a{
			font-size: 12px;
			padding: @padding-xs-horizontal;
		}
		.elem {
			width: 33%;
			float: left;
		}
	}
	.author {
		float: right;
		padding-top: @small_avatar_size/8;
		.name {
			float: left;
		}
		.avatar {
			.small_avatar;
			float: left;
			margin: @padding-xs-horizontal;
			margin-top: -@small_avatar_size*(3/8);
		}
	}
}