/*
// Blue Grey color scheme
// ----------------

@primary-light:    #CFD8DC;
@primary-base:     #607D8B;
@primary-dark:     #37474F; // Navbar and footer background

@accent-light: 	   #FF8A80;
@accent-base:      #FF5252; // Brand primary color
@accent-dark:      #FF1744;

@navbar-link-custom:     @primary-light;
@navbar-text-custom:     @primary-light;
@navbar-active-custom:   @accent-base;
@topbar-link-custom:     @primary-light;


// Blue color scheme
// -----------------

@primary-light:    #4FC3F7;
@primary-base:     #03A9F4;
@primary-dark:     #0288D1; // Navbar and footer background

@accent-light:     #ffd180;
@accent-base:      #ffab40; // Brand primary color
@accent-dark:      #ff9100;

@navbar-link-custom:     white;
@navbar-text-custom:     white;
@navbar-active-custom:   @accent-base;
@topbar-link-custom:     white;


// Cyan color scheme
// ------------------

@primary-light:    #4DD0E1;
@primary-base:     #00BCD4;
@primary-dark:     #00838F; // Navbar and footer background

@accent-light:     #ffd180;
@accent-base:      #ffab40; // Brand primary color
@accent-dark:      #ff9100;

@navbar-link-custom:     white;
@navbar-text-custom:     white;
@navbar-active-custom:   @accent-light;
@topbar-link-custom:     white;


// Teal color scheme
// ------------------

@primary-light:    #4DB6AC;
@primary-base:     #009688;
@primary-dark:     #00695C; // Navbar and footer background

@accent-light:     #ffd180;
@accent-base:      #ffab40; // Brand primary color
@accent-dark:      #ff9100;

@navbar-link-custom:     white;
@navbar-text-custom:     white;
@navbar-active-custom:   @accent-base;
@topbar-link-custom:     white;


// Green color scheme
// ------------------

@primary-light:    #81C784;
@primary-base:     #4CAF50;
@primary-dark:     #2E7D32; // Navbar and footer background

@accent-light:     #ffd180;
@accent-base:      #ffab40; // Brand primary color
@accent-dark:      #ff9100;

@navbar-link-custom:     white;
@navbar-text-custom:     white;
@navbar-active-custom:   @accent-base;
@topbar-link-custom:     white;


// Light Green color scheme
// ------------------

@primary-light:    #AED581;
@primary-base:     #8BC34A;
@primary-dark:     #558B2F; // Navbar and footer background

@accent-light:     #ffd180;
@accent-base:      #ffab40; // Brand primary color
@accent-dark:      #ff9100;

@navbar-link-custom:     white;
@navbar-text-custom:     white;
@navbar-active-custom:   @accent-base;
@topbar-link-custom:     white;
*/
body {
  margin-bottom: 0;
}
.box_shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.box_style {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border-color: #333333;
  margin-bottom: 2px;
  border-radius: 3px;
}
.invert {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border-color: #333333;
  margin-bottom: 2px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.6);
  color: #e0e0e0;
}
.invert a {
  color: #e0e0e0;
}
.invert a:hover {
  color: #ff5722;
}
#menu-spacer {
  height: 70px;
}
.small_padding {
  padding: 5px;
}
.spacer {
  height: 70px;
}
.navbar-brand img {
  width: 130px;
  margin-top: -6px;
}
#map-canvas {
  overflow: hidden;
}
#map-canvas img {
  height: 100%;
}
.find-form {
  overflow: hidden;
}
.find-form i {
  color: black;
}
form.find-form {
  background: white;
  border-radius: 20px;
}
form.find-form button {
  margin-left: -18px;
}
form.find-form input {
  border: none;
}
form.find-form button,
form.find-form button:hover,
form.find-form button:focus {
  border: none;
  background: none;
}
.menu_container {
  position: fixed;
  left: 40px;
  top: 80px;
}
.hover_menu {
  width: 360px;
}
.hover_menu button {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border-color: #333333;
  margin-bottom: 2px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.6);
  color: #e0e0e0;
  border: 1px solid transparent;
  float: left;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  padding: 10px 10px;
}
.hover_menu button a {
  color: #e0e0e0;
}
.hover_menu button a:hover {
  color: #ff5722;
}
.hover_menu .icon-bar {
  margin-top: 4px;
  background-color: #e0e0e0;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.hover_menu .menu_body {
  border-color: #333333;
  margin-bottom: 2px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.6);
  color: #e0e0e0;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  display: none;
}
.hover_menu .menu_body a {
  color: #e0e0e0;
}
.hover_menu .menu_body a:hover {
  color: #ff5722;
}
.hover_menu .menu_body table {
  color: #e0e0e0;
}
.hover_menu .menu_body table tr {
  border-bottom: 1px solid #e0e0e0;
}
.hover_menu .menu_body table tr:last-child {
  border-bottom: none;
}
.hover_menu .menu_body table td {
  padding: 4px;
}
.hover_menu .menu_body table td.pictogramm {
  background-color: #ff5722;
  font-size: 14pt;
  text-align: center;
  width: 45px;
  cursor: pointer;
}
.hover_menu .menu_body table td.group_name {
  width: 88px;
  padding: 8px;
}
.map_container {
  position: fixed;
  height: 100%;
  width: 100%;
}
.me_container {
  position: fixed;
  right: 40px;
  top: 80px;
}
.me {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border-color: #333333;
  margin-bottom: 2px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.6);
  color: #e0e0e0;
  font-size: 14pt;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
}
.me a {
  color: #e0e0e0;
}
.me a:hover {
  color: #ff5722;
}
.me.active {
  border: 2px solid yellowgreen;
  color: yellowgreen;
  line-height: 38px;
}
.socials_container {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border-color: #333333;
  margin-bottom: 2px;
  border-radius: 3px;
  overflow: hidden;
  position: fixed;
  bottom: 40px;
  left: 40px;
}
.socials_container a {
  color: #e0e0e0;
}
.socials_container .social {
  opacity: 0.5;
}
.socials_container .social:hover {
  opacity: 1;
}
.socials_container .social {
  float: left;
  color: #e0e0e0;
  font-size: 15pt;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.socials_container .social a {
  color: #e0e0e0;
}
.socials_container .social a:hover {
  color: #e0e0e0;
}
.advert_container {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border-color: #333333;
  margin-bottom: 2px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.6);
  color: #e0e0e0;
  position: fixed;
  padding: 5px;
  bottom: 5px;
  left: 40px;
}
.advert_container a {
  color: #e0e0e0;
}
.advert_container a:hover {
  color: #ff5722;
}
.g-plus {
  background: #d34836;
}
.facebook {
  background: #3b5998;
}
.pinterest {
  background: #cb2027;
}
.twitter {
  background: #4099ff;
}
.youtube {
  background: #bb0000;
}
.vine {
  background: #00bf8f;
}
.vk {
  background: #45668e;
}
.share {
  background: #6aa84f;
}
.socials_container {
  line-height: 30px;
}
.filters {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border-color: #333333;
  margin-bottom: 2px;
  background: rgba(0, 0, 0, 0.6);
  color: #e0e0e0;
  margin-left: 2px;
  float: left;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  width: 314px;
}
.filters a {
  color: #e0e0e0;
}
.filters a:hover {
  color: #ff5722;
}
.filters a {
  float: left;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
}
.filters a.active {
  background: rgba(255, 255, 255, 0.2);
}
.feed_container {
  margin: 60px;
  min-width: 1040px;
}
.feed_container .items_container {
  padding: 10px;
  float: left;
  width: 33%;
}
.feed_container .items_container .item {
  position: relative;
}
.feed_container .items_container .item .preview {
  height: 180px;
  overflow: hidden;
}
.feed_container .spacer {
  width: 100%;
  height: 70px;
  overflow: hidden;
}
.feed_container > div {
  float: left;
}
.item {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border-color: #333333;
  margin-bottom: 2px;
  border-radius: 3px;
  float: left;
  overflow: hidden;
  padding-bottom: 5px;
  margin: 10px;
  margin-bottom: 20px;
  width: 100%;
}
.small_avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.avatar {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 2px solid #e0e0e0;
}
.partner {
  position: absolute;
  top: 180px;
  left: 20px;
  background: url("../img/partner.png");
  background-repeat: no-repeat;
  padding-top: 36px;
  width: 72px;
}
.pano_feed .pano_item .description {
  float: left;
  width: 85%;
}
.pano_feed .pano_item .description p {
  padding: 5px;
}
.pano_feed .pano_item .description h4 {
  padding: 5px;
}
.pano_feed .pano_item .social {
  float: left;
  width: 15%;
}
.pano_feed .pano_item .social a {
  display: block;
  padding: 5px;
  padding-right: 0;
}
.pano_feed .pano_item .author {
  padding: 5px;
}
.pano_feed .pano_item .author .avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: left;
}
.pano_feed .pano_item .author .name {
  float: left;
}
.pano_feed .pano_item .author .tags {
  float: right;
  width: 50%;
}
.pano_feed .pano_item .author .tags a:before {
  content: "#";
}
.photographer_container .avatar {
  margin: 0 auto;
  margin-top: -100px;
}
.photographer_container .partner {
  margin-top: -20px;
}
.photographer_container .info {
  padding: 5px;
  text-align: center;
}
.photographer_container .social a {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
}
.personal_data {
  position: relative;
  min-width: 720px;
}
.personal_data .wallpaper {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 200px;
  overflow: hidden;
}
.personal_data .cover_container {
  overflow: hidden;
  height: 200px;
}
.personal_data .cover {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 16px;
}
.personal_data .cover .avatar {
  height: 100%;
  float: left;
}
.personal_data .cover .avatar .partner {
  position: absolute;
  top: 120px;
}
.personal_data .cover .name_status {
  float: left;
  padding-left: 16px;
  color: #e0e0e0;
  width: 70%;
}
.personal_data .toolkit {
  background: #5a1ce3;
  height: 30px;
}
.personal_data .toolkit .soc_cont_cabinet {
  float: left;
  width: 240px;
  height: 30px;
}
.personal_data .toolkit .soc_cont_cabinet .social {
  float: left;
  color: #e0e0e0;
  font-size: 15pt;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.personal_data .toolkit .soc_cont_cabinet .social a {
  color: #e0e0e0;
}
.personal_data .toolkit .soc_cont_cabinet .social a:hover {
  color: #e0e0e0;
}
.personal_data .toolkit a.conect {
  float: right;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  color: #e0e0e0;
}
.personal_data .toolkit a.subscribe {
  background: #332F95;
}
.personal_data .toolkit a.write {
  background: #158621;
}
.personal_data .pano_feed {
  margin: 0;
}
.personal_data .toombler {
  color: #e0e0e0;
  text-align: center;
  margin-top: -30px;
  line-height: 30px;
}
.personal_data .toombler .active {
  display: block;
}
.personal_data .toombler .profile {
  background: #ff5722;
}
.personal_data .toombler .pers_data {
  background: #5a1ce3;
}
.personal_data .toombler > div {
  display: none;
}
.personal_data .toombler > div a {
  color: #e0e0e0;
}
.personal_data .pers_data_block > div {
  float: left;
}
.personal_data .pers_data_block {
  display: none;
  margin: 0 auto;
  max-width: 1024px;
}
.personal_data .pers_data_block .info {
  width: 80%;
}
.personal_data .pers_data_block .info td {
  padding: 5px;
}
.personal_data .pers_data_block .social_info {
  width: 20%;
}
.personal_data .pers_data_block .social_info .elem {
  padding: 16px;
}
.personal_data .portfolio {
  display: none;
}
.personal_data .active {
  display: block;
}
